@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>correo: paulatecr@gmail.com.</p>
    <p>teléfono: )506= 8844-8256</p>
</main>