@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Paula Alejandra Ulate Medrano</h3>

    <address>
        Programación Avanzada Web<br />
        UNED<br />
        Agosto 2025
    </address>

    <address>
        <strong>Correo:</strong>   <a>paulatecr@gmail.com</a><br />
        <strong>Teléfono:</strong>   <a>+(506) 8844-8256</a><br />
    </address>
</main>