
@{
    ViewBag.Title = "Mi Perfil de Usuario";
}

<div class="form-container">
    <h1>Mi Perfil</h1>

    <p><strong>Nombre:</strong> @Model.Nombre</p>
    <p><strong>usuario:</strong> @Model.UserID</p>
    <p><strong>Correo:</strong> @Model.Correo</p>
    <p><strong>Rol:</strong> @Model.Rol</p>
</div>

